<mk-box header="About sidebar right component" [isCollapsable]="false" [isRemovable]="false">
  <p>The sidebar right component is optional and you can add any custom HTML.<br/>It can be toggled with sidebar right button of the header or programmatically with layout.sidebarRightCollapsed().<br/>You can also subscribe to sidebar right toggle status with layout.isSidebarRightCollapsed.</p>
</mk-box>

<mk-box header="HTML" [isCollapsable]="false" [isRemovable]="false">
  <pre><code class="language-html">&lt;mk-layout-sidebar-right&gt;
  //Custom HTML
&lt;/mk-layout-sidebar-right&gt;
</code></pre>
</mk-box>
