<!--suppress ALL -->
<div class="row">
  <div class="col-md-6 col-xs-12">
    <mk-box [isCollapsable]="false" [isRemovable]="false">
      <mk-box-header>
        <mk-dropdown toggleText="Basic Toggle" buttonBackgroudColor="success">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </mk-dropdown>
        <mk-dropdown [toggleElement]="separatedToggleElement">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </mk-dropdown>
      </mk-box-header>
      <mk-box-content>
        <pre><code class="language-html">&lt;mk-dropdown toggleText="Basic Toggle" buttonStyleClass="btn btn-success dropdown-toggle"&gt;
  &lt;li&gt;&lt;a href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
  &lt;li class="divider"&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
&lt;/mk-dropdown&gt;</code></pre>
      </mk-box-content>
    </mk-box>
  </div>
  <div class="col-md-6 col-xs-12">
    <mk-box [isCollapsable]="false" [isRemovable]="false">
      <mk-box-header>
        <button #separatedToggleElement class="btn btn-warning dropdown-toggle">
          Separated Toggle <span style="margin-left: 8px;" class="fa fa-info-circle"></span>
        </button>
      </mk-box-header>
      <mk-box-content>
        <pre><code class="language-html">&lt;button #separatedToggleElement type="button" class="btn btn-warning dropdown-toggle"&gt;
  Separated Toggle &lt;span class="fa fa-info-circle"&gt;&lt;/span&gt;
&lt;/button&gt;</code></pre>
        <p>Then, somewere else...</p>
        <pre><code class="language-html">&lt;mk-dropdown [toggleElement]="separatedToggleElement"&gt;
  &lt;li&gt;&lt;a href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
  &lt;li class="divider"&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
&lt;/mk-dropdown&gt;</code></pre>
      </mk-box-content>
    </mk-box>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <mk-box [isCollapsable]="false" [isRemovable]="false">
      <mk-box-header>
        <div class="input-group">
          <div mk-dropdown class="input-group-btn" [isWrapper]="false">
            <mk-dropdown-toggle>
              <button #toggleElement class="btn btn-default dropdown-toggle">
                Input Toggle
                <span class="fa fa-caret-down"></span>
              </button>
            </mk-dropdown-toggle>
            <mk-dropdown-menu>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </mk-dropdown-menu>
          </div>
          <input type="text" class="form-control">
        </div>
      </mk-box-header>
      <mk-box-content>
        <pre><code class="language-html">&lt;div class="input-group"&gt;
  &lt;div mk-dropdown class="input-group-btn" [isWrapper]="false"&gt;
    &lt;mk-dropdown-toggle&gt;
      &lt;button #toggleElement type="button" class="btn btn-default dropdown-toggle"&gt;
        Input Toggle
        &lt;span class="fa fa-caret-down"&gt;&lt;/span&gt;
      &lt;/button&gt;
    &lt;/mk-dropdown-toggle&gt;
    &lt;mk-dropdown-menu&gt;
      &lt;li&gt;&lt;a href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
      &lt;li class="divider"&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
    &lt;/mk-dropdown-menu&gt;
  &lt;/div&gt;
  &lt;input type="text" class="form-control"&gt;
&lt;/div&gt;</code></pre>
      </mk-box-content>
    </mk-box>
  </div>
  <div class="col-md-6 col-xs-12">
    <mk-box [isCollapsable]="false" [isRemovable]="false">
      <mk-box-header>
        <div class="btn-group">
          <button type="button" class="btn btn-default">1</button>
          <button type="button" class="btn btn-default">2</button>
          <div mk-dropdown class="btn-group" [isWrapper]="false">
            <mk-dropdown-toggle>
              <button #toggleElement type="button" class="btn btn-default dropdown-toggle">
                <span class="fa fa-caret-down"></span>
              </button>
            </mk-dropdown-toggle>
            <mk-dropdown-menu>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </mk-dropdown-menu>
          </div>
        </div>
      </mk-box-header>
      <mk-box-content>
        <pre><code class="language-html">&lt;div class="btn-group"&gt;
  &lt;button type="button" class="btn btn-default"&gt;1&lt;/button&gt;
  &lt;button type="button" class="btn btn-default"&gt;2&lt;/button&gt;
  &lt;div mk-dropdown class="btn-group" [isWrapper]="false"&gt;
    &lt;mk-dropdown-toggle&gt;
      &lt;button #toggleElement type="button" class="btn btn-default dropdown-toggle"&gt;
        &lt;span class="fa fa-caret-down"&gt;&lt;/span&gt;
      &lt;/button&gt;
    &lt;/mk-dropdown-toggle&gt;
    &lt;mk-dropdown-menu&gt;
      &lt;li&gt;&lt;a href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
      &lt;li class="divider"&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
    &lt;/mk-dropdown-menu&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
      </mk-box-content>
    </mk-box>
  </div>
</div>

<mk-box header="Properties" [isCollapsable]="true" [isRemovable]="false" contentStyleClasses="table-responsive">
  <table class="table table-bordered table-hover">
    <tbody>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>buttonStyleClass</td>
      <td>string</td>
      <td>btn btn-default dropdown-toggle</td>
      <td>Defines the toggle button classes.</td>
    </tr>
    <tr>
      <td>contentStyleClass</td>
      <td>string</td>
      <td>null</td>
      <td>Defines the content list classes.</td>
    </tr>
    <tr>
      <td>isCollapsed</td>
      <td>boolean</td>
      <td>true</td>
      <td>Defines if dropdown is collapsed.</td>
    </tr>
    <tr>
      <td>isWrapper</td>
      <td>boolean</td>
      <td>true</td>
      <td>Defines if dropdown component is wrapped by a div.</td>
    </tr>
    <tr>
      <td>styleClass</td>
      <td>string</td>
      <td>dropdown</td>
      <td>The dropdown style classes.</td>
    </tr>
    <tr>
      <td>toggleElement</td>
      <td>Element</td>
      <td>null</td>
      <td>Set the toggle dropdown element if outside of the component or within mk-dropdown-toggle.</td>
    </tr>
    <tr>
      <td>toggleText</td>
      <td>string</td>
      <td>null</td>
      <td>The dropdown toggle text if default button used.</td>
    </tr>
    </tbody>
  </table>
</mk-box>

<mk-box header="Events" [isCollapsable]="true" [isRemovable]="false" contentClasses="table-responsive">
  <table class="table table-bordered table-hover">
    <tbody>
    <tr>
      <th>Name</th>
      <th>Parameters</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>onCollapseStart</td>
      <td>event: browser event</td>
      <td>Callback to invoke before dropdown toggle</td>
    </tr>
    <tr>
      <td>onCollapseDone</td>
      <td>event: browser event</td>
      <td>Callback to invoke after dropdown toggle</td>
    </tr>
    </tbody>
  </table>
</mk-box>
