<div [ngClass]="wrapperClasses" [mkColor]="inputColor" mkColorPrefix="has">
  <label *ngIf="addonLeft || inputTextLabelDirective" for="{{id}}">
    {{label}}
    <ng-content select="mk-input-text-label"></ng-content>
  </label>
  <div class="input-group">
    <span *ngIf="addonLeft || inputTextAddonLeftDirective" class="input-group-addon" [mkColor]="inputColor" mkColorProperty="border-color">
      {{addonLeft}}
      <ng-content select="mk-input-text-addon-left"></ng-content>
    </span>
    <input #inputElement type="text" class="form-control" [ngClass]="size === 'small' ? 'input-sm' : size === 'large' ? 'input-lg': ''" id="{{id}}" placeholder="{{placeholder}}" [(ngModel)]="value" [disabled]="isDisabled" [mkColor]="inputColor" mkColorProperty="border-color" [mkFontColor]="inputFontColor">
    <span *ngIf="addonRight || inputTextAddonRightDirective" class="input-group-addon" [mkColor]="inputColor" mkColorProperty="border-color">
      {{addonRight}}
      <ng-content select="mk-input-text-addon-right"></ng-content>
    </span>
  </div>
</div>
