<div class="row">
  <div class="col-md-6 col-xs-12">
    <mk-box [isSolid]="true" boxColor="#fff" [isCollapsable]="false" [isRemovable]="false" header="Collapsible Accordion">
      <mk-accordion-group>
        <mk-accordion header="Collapsible Group Item #1" headerColor="red" headerColorHover="yellow" contentColor="green" borderColor="info" >
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </mk-accordion>
        <mk-accordion header="Collapsible Group Danger" borderColor="danger">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </mk-accordion>
        <mk-accordion header="Collapsible Group Success" borderColor="success">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </mk-accordion>
      </mk-accordion-group>
    </mk-box>
  </div>
  <div class="col-md-6 col-xs-12">
    <mk-box [isSolid]="true"  boxColor="#fff" [isCollapsable]="false" [isRemovable]="false" header="Collapsible Accordion Multiple">
      <mk-accordion-group [isMultiple]="true" [activeIndex]="activeIndex">
        <mk-accordion header="Collapsible Group Danger" borderColor="danger">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </mk-accordion>
        <mk-accordion header="Collapsible Group Warning" borderColor="warning">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </mk-accordion>
        <mk-accordion header="Collapsible Group Success" borderColor="primary">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </mk-accordion>
      </mk-accordion-group>
    </mk-box>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <mk-box header="Accordion with Text header" [isCollapsable]="false" [isRemovable]="false">
      <pre><code class="language-html">&lt;mk-accordion-group [isMultiple]="true"&gt;
  &lt;mk-accordion header="Collapsible Group Item #1"&gt;
    Accorion content.
  &lt;/mk-accordion&gt;
  &lt;mk-accordion header="Collapsible Group Danger" borderColor="danger"&gt;
    Accorion content.
  &lt;/mk-accordion&gt;
&lt;/mk-accordion-group&gt;</code></pre>
    </mk-box>
  </div>
  <div class="col-md-6 col-xs-12">
    <mk-box header="Accordion with HTML header" [isCollapsable]="false" [isRemovable]="false">
      <pre><code class="language-html">&lt;mk-accordion-group&gt;
  &lt;mk-accordion&gt;
    &lt;mk-accordion-header&gt;Accordion HTML header&lt;/mk-accordion-header&gt;
    &lt;mk-accordion-content&gt;Accorion text.&lt;/mk-accordion-content&gt;
  &lt;/mk-accordion&gt;
  &lt;mk-accordion&gt;
    &lt;mk-accordion-header&gt;Accordion HTML header&lt;/mk-accordion-header&gt;
    &lt;mk-accordion-content&gt;Accorion content.&lt;/mk-accordion-content&gt;
  &lt;/mk-accordion&gt;
&lt;/mk-accordion-group&gt;</code></pre>
    </mk-box>
  </div>
</div>

<!--suppress HtmlUnknownAttribute -->
<mk-box header="Accordion Group Properties" [isCollapsable]="true" [isRemovable]="false" contentClasses="table-responsive">
  <table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>activeIndex</td>
        <td>boolean</td>
        <td>false</td>
        <td>Index of the active tab or an array of indexes to change selected accordion programmatically.</td>
      </tr>
      <tr>
        <td>isMultiple</td>
        <td>boolean</td>
        <td>false</td>
        <td>Defines if multiple accordion can be opened.</td>
      </tr>
      <tr>
        <td>styleClass</td>
        <td>string</td>
        <td>box-group</td>
        <td>Style class of the component.</td>
      </tr>
    </tbody>
  </table>
</mk-box>

<!--suppress HtmlUnknownAttribute -->
<mk-box header="Accordion Group Events" [isCollapsable]="true" [isRemovable]="false" contentClasses="table-responsive">
  <table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Parameters</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>onCollapseDone</td>
        <td>event.animationEvent: animation event<br/> event.index: Index of the accordion</td>
        <td>Callback to invoke after accordion toggle.</td>
      </tr>
      <tr>
        <td>onCollapseStart</td>
        <td>event.animationEvent: animation event<br/> event.index: Index of the accordion</td>
        <td>Callback to invoke before accordion toggle.</td>
      </tr>
    </tbody>
  </table>
</mk-box>

<!--suppress HtmlUnknownAttribute -->
<mk-box header="Accordion Properties" [isCollapsable]="true" [isRemovable]="false" contentClasses="table-responsive">
  <table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>borderColor</td>
        <td>string (default | primary | success | info | warning | danger | rgb | rgba | hex)</td>
        <td>default</td>
        <td>The accordion border top color.</td>
      </tr>
      <tr>
        <td>contentColor</td>
        <td>string (green | aqua | light-blue | red | yellow | mutted | rgb | rgba | hex)</td>
        <td>null</td>
        <td>The accordion content font color.</td>
      </tr>
      <tr>
        <td>contentStyleClass</td>
        <td>string</td>
        <td>box-body</td>
        <td>The accordion content Style classes.</td>
      </tr>
      <tr>
        <td>header</td>
        <td>string</td>
        <td>null</td>
        <td>
          Header text of the panel.<br/>
          <em>Note: You can use &lt;mk-accordion-header&gt; for HTML header.</em>
        </td>
      </tr>
      <tr>
        <td>headerColor</td>
        <td>string (green | aqua | light-blue | red | yellow | mutted | rgb | rgba | hex)</td>
        <td>null</td>
        <td>The accordion header font color.</td>
      </tr>
      <tr>
        <td>headerColorHover</td>
        <td>string (green | aqua | light-blue | red | yellow | mutted | rgb | rgba | hex)</td>
        <td>null</td>
        <td>The accordion header font color on hover.</td>
      </tr>
      <tr>
        <td>headerStyleClass</td>
        <td>string</td>
        <td>box-header with-border</td>
        <td>The accorion header style classes.</td>
      </tr>
    </tbody>
  </table>
</mk-box>
